@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.general{
    width: 1440px;
    height: 1010px;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid black; */
}
.general a{
    color: black;
    text-decoration: none;
}
.menu{
    width: 1440px;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.line{
    width: 1px;
    height: 40px;
    background: #E2E2E2;
}
.line2{
    height: 1px;
    width: 1440px;
    background: #E2E2E2;
    margin: auto;
}
.valanta{
    width: 131px;
    height: 72px;
    margin-left: 100px;
}
.valanta img{
    width: 131px;
    height: 72px;
}
.ua{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    height: 20px;
    width: 50px;
    /* margin-bottom: 30px; */
    /* text-align: center; */
}
.ua a{
    text-decoration: none;
}
.ua p{
    font-family: 'Secular One', sans-serif;
    width: 27px;
    height: 21px;
    margin: auto;
    text-align: center;
}
.ua p:hover{
    background-color: rgb(69, 211, 57);
    color: white;
}
.RU{
    width: 27px;
    height: 21px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Secular One', sans-serif;
}
.usd{
    height: 35px;
    width: 90px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.usd p{
    height: 5px;
    width: 90px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 55px;
}
.icons a svg{
    color: rgb(88, 88, 88);
}
.icons a:hover{
    color: rgb(99, 99, 99);
}
.tel{
    display: flex;
}
.tel p{
    font-family: 'Oswald', sans-serif;
}
.nomber{
    height: 40px;
    width: 150px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.nomber p{
    height: 17px;
    width: 150px;
}
.phone{
    /* margin-top: 10px; */
}
.online{
    display: flex;
    align-items: center;
    width: 600px;
    height: 55px;
    justify-content: space-around;
}
.nomber p{
    width: 128px;
    height: 21px;
}
.maistra{
    display: flex;
}
.maistra p{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: auto;
}
.pict1{
    height: 55px;
    width: 55px;
    background-color: #DD4053;
}
.maistra{
    width: 270px;
    height: 55px;
    background: #EFF3F6;
    justify-content: space-between;
}
.pict1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pict1 svg{
    color: white;
    width: 20px;
    height: 20px;
}
.pict2{
    height: 55px;
    width: 55px;
    background-color: rgb(31, 197, 40);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tyr{
    display: flex;
    width: 270px;
    height: 55px;
    background: #EFF3F6;
    /* margin-left: 100px; */
    justify-content: space-between;
}
.tyr p{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.pict2 svg{
    color: white;
    width: 20px;
    height: 20px;
}
.menu2{
    width: 1440px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar *{
    margin-right: 20px;
    display: block;
}
.menu2 .navbar-nav{
    background-color:white ;
}
.menu2 .navbar{
    background-color: white;
}
.navbar img{
    width: 160px;
    height: 130px;
    margin: auto;
}
.menu2 li:hover{
    border-bottom: 2px solid red;
}
/* .menu2 .nav-link{
    width: 120px;
} */
.nav-item1 .nav-link1{
    color: rgb(140, 140, 140);
}
.nav-item1{
    border-bottom: 2px solid rgb(255, 0, 0);

}
.menu2 span{
    color: red;
}
.dropdown-menu li a:hover{
    color: red;
}
.nav-item1 .nav-link1:hover{
    color: rgb(130, 130, 130);
}
.nav-link1{
    text-decoration: none;
    margin-top: 10px;
}
.menu_content_main{
    width: 1440px;
    height: 420px;
    padding-top: 50px;
}
.gen_avia{
    width: 1440px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 150px;
}
.dop_block_gen{
    height: 50px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p47{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}
.p48{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.line14{
    width: 1px;
    height: 15px;
    background-color: gray;
    transform: rotate(25deg);
    margin-top: -15px;
}
.gene_horv_inner{
    width: 970px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p44{
    font-family: 'Montserrat', sans-serif;
    font-size: 31px;
    width: 224px;
    height: 300px;
}
.reysi{
    width: 600px;
    height: 300px;
}
.reysi_inner{
    display: flex;
    align-items: center;
    height: 70px;
    width: 700px;
    border-bottom: 1px solid rgb(146, 146, 146);
}
.reysi_inner p{
    height: 5px;
}
.p45{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px; 
}
.p46{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    width: 320px;
}
.p46_2{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    /* width: 270px; */
}
.circle_reysi{
    width: 35px;
    height: 35px;
    background-color: rgb(235, 235, 235);
    border-radius: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.dop_block_reysi{
    display: flex;
    align-items: center;
    width: 440px;
    height: 70px;
    justify-content: space-between;
}
.dop_block_reysi2{
    margin-left: 230px;
}
.valanta_menu_downer{
    height: 370px;
    width: 1440px;
    background-color: rgb(243, 243, 243);
}
.valanta_menu_downer .dop_block{
    height: 170px;
    width: 1040px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 150px;
}
.prosto_block{
    height: 170px;
    width: 1040px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.valanta_menu_downer .dop_block p{
    height: 10px;
    font-family: 'Montserrat', sans-serif;
}
.p41{
    color: rgb(94, 94, 94);
    font-family: 'Montserrat', sans-serif;
}
.nomera a{
    text-decoration: none;
    color: rgb(94, 94, 94);
}
.nomera a p{
    padding-top: 20px;
}
.nomera a:hover{
    color: rgb(94, 94, 94);
}
.line13{
    width: 1040px;
    height: 1px;
    background-color: rgb(146, 146, 146);
    position: absolute;
}
.dop_block_4{
    width: 1040px;
    height: 200px;
    padding-top: 100px;
    margin: auto;
    display: flex;
    position: relative;
}
.years{
    width: 1040px;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(85, 85, 85);
}
.years .icons svg{
    color: rgb(85, 85, 85);
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 55px;
}
.icons a:hover{
    color: black;
}
.dop_block{
    display: flex;
}
.nomera .p44{
    font-size: 16px;
}
.nomera .p45{
    font-size: 14px;
    color: rgb(99, 99, 99);
    z-index: 2;
}
.logo_valant{
    width: 350px;
    text-align: start;
}
.valanta_menu_downer p{
   text-align: start;
}